@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000000;
}
body{
    background: linear-gradient(90deg, rgba(232,232,232,1) 30%, rgba(246,139,72,1) 30%, rgba(255,255,255,1) 30%);
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-size: 55px;
    font-weight: 600;
    text-transform: uppercase;
}
h2{
    font-weight: normal;
}
.title-header{
    
}
.header{
    width: fit-content;
    text-align: center;
    border: 2px solid #000;
    background-color: #fff;
    margin: 0 auto;
    padding: 50px 100px;
    margin-top: 30px;
}
.body{
    display: flex;
}
h2{
    border-bottom: 1px solid black;
}